.thirddiv{
    background-color: rgb(189, 236, 220);
    width: 50%;
    height: 177px;
    margin-left:333px;
    text-align: center;
    font-size: 33px;
    margin-top: 133px;
    color: rgb(55, 50, 61);
    position: fixed;
}